#hero{ background-image: url("../img/herobg.jpg");  background-repeat: no-repeat;   background-size: cover; padding:2% 0;  box-shadow: inset 0 0 0 50vw rgba(9,74,123,.9);}
.white{color:#fff;}
#hero p{color:#fff; font-size:35px;}
.csvg{ align-items: center;}
.jcbg{background-color:#0e6fb8; color:#fff;}

.btn-outline-jc, .btn-jc{
   color: #0e6fb8 !important;
}

.btn-outline-primary{ border-color: #0e6fb8;  color: #0e6fb8; }
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
    background-color: #0e6fb8;
    border-color: #0e6fb8;
	color:#fff;
}


.image-hover {    width: 378px;     height: 251px;     background-image: url('../img/team.png');     background-size: cover;     transition: background-image 0.5s ease-in-out;}

.image-hover:hover {    background-image: url('../img/team1.png'); }

#contact,#about {
  scroll-margin-top: 50px;
  scroll-snap-margin-top: 50px; /* iOS 11 and older */
}